body {
  background: #555;
}

svg {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  animation: 3s move alternate infinite;
  clip-path: circle(35px at 150px 50px );
}

@keyframes move {
  from {
    clip-path: circle(35px at 100px 50px );
  }
  to {
    clip-path: circle(35px at 550px 50px );
  }
}
